html {
  height: 100%;
}

body {
  color: white;
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #07102c, #162f80, #1b47d3);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  font-family: Helvetica;
  margin-top: 150px;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  color: white;
  background-color: rgb(38, 62, 167);
  padding: 15px 60px;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 35px;
  font: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(18, 45, 136);
  transition: 0.4s;
}
button:active {
  background-color: rgb(176, 184, 178);
}
