html {
  height: 100%;
}
@media only screen and (max-device-width: 900px) {
  html {
    width: 100%;
  }
}
@media only screen and (max-device-width: 700px) {
  html {
    width: 400px;
  }
}
@media only screen and (max-device-width: 500px) {
  html {
    width: 300px;
  }
}
@media only screen and (max-device-width: 200px) {
  html {
    width: 100px;
  }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: linear-gradient(45deg, #d20000, #7462ff, #861f94, #23d5ab);
  background-size: 300% 300%;
  animation: colors 12s ease-in-out infinite;
  font-family: Helvetica;
  min-height: 100%;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  color: white;
  background-color: rgb(38, 62, 167);
  padding: 15px 60px;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 35px;
  font: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(18, 45, 136);
  transition: 0.4s;
}
button:active {
  background-color: rgb(176, 184, 178);
}
